<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RegExpressWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RegExpressWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <RegExpressWPF.Properties.Settings>
      <setting name="SavedTabData" serializeAs="String">
        <value />
      </setting>
      <setting name="RestoreBounds" serializeAs="String">
        <value>0,0,0,0</value>
      </setting>
      <setting name="IsMaximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="McsRightWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="McsTopHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="McsBottomHeight" serializeAs="String">
        <value>0</value>
      </setting>
    </RegExpressWPF.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RegExpressWPF.Properties.Settings>
      <setting name="AutoSaveInterval" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="MoveCaretToUnderlinedText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BringCaretIntoView" serializeAs="String">
        <value>False</value>
      </setting>
    </RegExpressWPF.Properties.Settings>
  </applicationSettings>
</configuration>
